{% extends "./home.html" %}

{% block title %}  Venta {% endblock %}

{% block body %}



        <h3>Venta</h3>

        <div class="card">
            <div class="card-body">
                <form id="formventa2" action="{% url 'newCompra' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="numero">Documento:</label>
                        <input type="text" value="{{compra.numero}}" id="numero" name="numero" class="form-control mb-2" placeholder="Ingrese numero de Documento" maxlength="10" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha Compra:</label>
                        <input type="text" value="{{compra.fecha| date:'d-m-Y H:i'}}" id="fecha" name="fecha" class="form-control mb-2" placeholder="Ingrese fecha" required readonly>
                    </div>

                    <div class="form-group">
                        <label>Proveedor:</label>
                        <select form ="formventa2" class="form-control mb-2" id="proveedor" name="proveedor">
                            {% for data in proveedores %}  
                            <option value="{{data.nit}}" {% if data.nit == compra.cliente.nit %}selected{% endif %}>{{data.nombre}}</option>
                            {% endfor %}
                            
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Descripción:</label>
                        <input type="text" value="{{compra.descripcion}}" id="descripcion" name="descripcion" class="form-control mb-2"  placeholder="Ingrese descripcion">
                    </div>

<!------------->


<div class="table-responsive py-2">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Producto</th>
                <th>Unidades</th>
                <th>Precio</th>
                <th colspan="3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pro in CompraDet %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{pro.productodetalle}}</td>
                <td>{{pro.unidades}}</td>
                <td>{{pro.precio}}</td>

                
                <td>
                    <!-- <a class="btn btn-info" href="{% url 'vistaProducto' pro.productodetalle %}">
                        <i class="fa-solid fa-file-invoice"></i>
                    </a>
                    <a class="btn btn-secondary" href="{% url 'vistaProducto' pro.productodetalle %}">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>-->
                    <a class="btn btn-danger btnEliminar" href="{% url 'eliminar_detVenta' pro.id %}">
                        <i class="fa-solid fa-trash"></i>
                    </a>


                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!----------->

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        <a class="btn btn-light" href="{% url 'homeCompras' %}">
                            Cancelar
                        </a>
                    </div>
                    
                </form>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'addProductoVenta' compra.numero %}" method="POST">{% csrf_token %}
                        <div class="form-group">

                            <label>Producto:</label>
                            <select class="form-control mb-2" id="productodetalle" name="productodetalle">
                                {% for data in product %}  
                                <option value="{{data.id}}">{{data}}</option>
                                {% endfor %}
                                
                            </select>
        
                            <label>Unidades:</label>
                            <input type="number" id="unidades" name="unidades" class="form-control mb-2" required>

                            <label>Precio:</label>
                            <input type="number" id="costo" name="costo" class="form-control mb-2" placeholder="Precio" required>
        
                            
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-warning btn-block text-white">Agregar Detalle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


{% endblock %}