{% extends "./home.html" %}

{% block title %} new Proveedor {% endblock %}

{% block body %}



        <h3>Nuevo Proveedor</h3>

        <div class="card">
            <div class="card-body">
                <form action="{% url 'newProveedor' %}" method="POST">{% csrf_token %}
                    <div class="form-group">

                        <label for="nit">NIT:</label>
                        <input type="text" id="nit" name="nit" class="form-control mb-2" placeholder="Ingrese NIT" maxlength="15" required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" class="form-control mb-2" placeholder="Ingrese Nombre" maxlength="75" required>
                    </div>
                    <div class="form-group">
                        <label>Dirección:</label>
                        <input type="text" id="direccion" name="direccion" class="form-control mb-2"  placeholder="Ingrese Dirección">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>

                        <a class="btn btn-light" href="/">
                            Cancelar
                        </a>

                    </div>

                    
                </form>
            </div>
        </div>


    



{% endblock %}